*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
	transition: .5s opacity ease;
}


body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 0;
}

h1 {
	font-size: 38px;
	text-align: center;
	margin: 0;
	padding: 20px;
	background: white;
	z-index: 1;
}

.block {
	display: inline-block;
	border: 2px solid #ddd;
}

.gridRow {
	height: 75px;
	opacity: 1;
	position: absolute;
	z-index: -1;
}

.powerUp:nth-child(even) {
	/* color: rgb(170, 77, 57); */
	/* background: rgba(39, 88, 107,.75); */
}

.powerUp:nth-child(odd) {
	/* color: rgb(39, 88, 107); */
	/* background: rgba(170, 77, 57,.75); */
}

.powerUp {
	display: block;
	/*	opacity: 0;
	visibility: hidden;
*/
	margin: 25px 0;
	padding: 5px;
	border: 2px solid #ddd;
	/* border-radius: 35%; */
	/* text-shadow: -.1px -.1px 0 #ddd,      
				  .1px -.1px 0 #ddd,     
				 -.1px .1px 0 #ddd,      
				  .1px .1px 0 #ddd; */.1px.1px0#ddd;
	/* font-weight: bolder; */
	font-size: 39px;
	color: #444;
	background: #fff;
	}

#grid,#playerRowContainer {
	margin: auto;
	outline: 2px solid #ddd;
}

#gameContainer {
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	opacity: 1;
}

#grid {
	height: 450px;
	display: block;
	vertical-align: bottom;
	position: relative;
	opacity: 1;
}

#loseMessage {
	font-size: 48px;
	color: #888;
	margin: auto;
	opacity: 0;
	line-height: 75px;
	position: absolute;
	left: 33.3%;
	transform: translateX(-50%);
}

#overlay {
	background: white;
}

#playerRow {
	opacity: 1;
	position: absolute;
	transition: .5s right linear, .5s left linear;
	width: 150%;
	transition: transform .75s ease;
	left: 0;
}

#playerRowContainer {
	width: 100%;
	overflow: hidden;
	margin-top: 40px;
	height: 75px;
	position: relative;
	text-align: left;
}

#powerUpContainer {
    left: -77px;
    bottom: -27px;
    cursor: pointer;
    position: absolute;
}

#score {
	font-size: 34px;
	margin: 40px auto;
	max-width: 75px;
	opacity: 1;
}

#shifters {
	margin-bottom: 25px;
}

#shifters .powerUp:first-child {
    /* border-radius: 35% 35% 0 0; */
    /* padding-right: 5px; */
    /* padding-left: 0px; */
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #ddd;
}

#shifters .powerUp {
    /* border-radius: 0 0 35% 35%; */
    margin: 0px;
    /* padding-left: 5px; */
    /* font-size: 31px; */
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    border-top: 1px solid #ddd;
}