*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
	transition: .5s opacity ease;
}


body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 0;
}

h1 {
	font-size: 38px;
	text-align: center;
	margin: 0;
	padding: 20px;
	background: white;
	z-index: 1;
}

.block {
	display: inline-block;
	border: 2px solid #ddd;
}

.gridRow {
	height: 75px;
	opacity: 1;
	position: absolute;
	z-index: -1;
}

.powerup {
    display: block;
}

.powerup:nth-child(even) {
	color: rgb(170, 77, 57);
}

.powerup:nth-child(odd) {
	color: rgb(39, 88, 107);
	margin-bottom: 23px;
}

#grid,#playerRow {
	margin: auto;
	outline: 2px solid #ddd;
}

#gameContainer {
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	opacity: 1;
}

#powerUpContainer {
    left: -35px;
    bottom: 0;
}

#grid {
	height: 450px;
	display: block;
	vertical-align: bottom;
	position: relative;
	opacity: 1;
}

#invert,#reverse {
	opacity: 0;
	visibility: hidden;
}

#loseMessage {
	font-size: 48px;
	color: #888;
	margin: 5px;
	opacity: 0;
	line-height: 75px;
}

#playerRow {
	margin-top: 40px;
	height: 75px;
	opacity: 1;
	position: relative;
}

#powerUpContainer {
    left: -45px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
}

#score {
	font-size: 34px;
	margin: 40px auto;
	max-width: 75px;
	opacity: 1;
}