*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 0;
}

h1 {
	font-size: 38px;
	text-align: center;
	margin: 0;
	padding: 20px;
	background: white;
	z-index: 1;
}

.block {
	display: inline-block;
	border: 2px solid #ddd;
}

.gridRow {
	height: 75px;
	opacity: 1;
	position: absolute;
	z-index: -1;
}


#grid,#playerRow {
	margin: auto;
	outline: 2px solid #ddd;
}

#gameContainer {
	display: block;
	width: 300px;
	margin: auto;
	text-align: center;
	position: relative;
	opacity: 1;
	transition: .75s opacity ease;
}

#grid {
	height: 450px;
	display: block;
	vertical-align: bottom;
	position: relative;
	opacity: 1;
	transition: .5s all ease;
}

#loseMessage {
	font-size: 48px;
	color: #888;
	margin: 5px;
	opacity: 0;
	transition: .5s all ease;
	line-height: 75px;
}

#playerRow {
	margin-top: 40px;
	height: 75px;
}

#score {
	font-size: 34px;
	margin: 40px auto;
	max-width: 75px;
	opacity: 1;
	transition: .5s all ease;
}