*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
	touch-action: manipulation; /* meant to prevent 300ms delay on phone touch */
	transition: .5s opacity ease;
	white-space-collapse: discard; 
}

* {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

a {
    text-decoration: none;
    color: inherit;
}

#tutorialContainer p#powerUpAdvice {
    left: -59%;
    bottom: 290px;
    max-width: 150px;
}


body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 0;
	color: #444;
	background: #fff;
}

h1 {
	font-size: 38px;
	z-index: 1;
	margin: 0;
	display: inline-block;
}

.block {
	display: inline-block;
	border: 2px solid #ddd;
}

.gridRow {
	opacity: 1;
	position: absolute;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	width: 100%;
}

.powerUp:nth-child(even) {
	/* color: rgb(170, 77, 57); */
	/* background: rgba(39, 88, 107,.75); */
}

.powerUp:nth-child(odd) {
	/* color: rgb(39, 88, 107); */
	/* background: rgba(170, 77, 57,.75); */
}

.powerUp {
	display: block;
	opacity: 0;
	visibility: hidden;
	margin: 25px 0;
	padding: 5px;
	border: 2px solid #ddd;
	/* border-radius: 35%; */
	/* text-shadow: -.1px -.1px 0 #ddd,      
				  .1px -.1px 0 #ddd,     
				 -.1px .1px 0 #ddd,      
				  .1px .1px 0 #ddd; */.1px.1px0#ddd;
	/* font-weight: bolder; */
	font-size: 39px;
}

.scoreAnimation {
	font-size: 30px;
	opacity: 1;
	transition: 1s opacity ease;
	margin: 0 auto;
	width: 95%;
	color: #444;
	text-shadow: 1px 1px 1px #ddd, -1px -1px 1px#ddd;
	font-weight: 900;
	position: absolute;
}

#grid,#playerRowContainer {
	margin: auto;
	outline: 2px solid #ddd;
}

#gameContainer {
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	opacity: 1;
	perspective: 500px;
}

#grid {
	height: 450px;
	display: block;
	vertical-align: bottom;
	position: relative;
	opacity: 1;
	perspective: 800px;
}

#loseMessage {
	font-size: 48px;
	color: #888;
	margin: auto;
	opacity: 0;
	line-height: 75px;
	position: absolute;
	left: 33.3%;
	transform: translateX(-50%);
}

#matchedDisplay {
	font-size: 24px;
	text-align: center;
	opacity: 1;
}

#nav {
	margin-left: 65%; 
	display: block;
}

#nav a {
	font-size: 12px;
	margin: 5px 15px;
}

#overlay {
	background: white;
}

#playerRow {
	opacity: 1;
	position: absolute;
	transition: .5s right linear, .5s left linear, transform .75s ease;
	width: 150%;
	left: 0;
	bottom: 0;
}

#playerRowContainer {
	perspective: 800px;
	width: 100%;
	overflow: hidden;
	margin-top: 40px;
	height: 75px;
	position: relative;
	text-align: left;
}

#powerUpContainer {
    left: -77px;
    bottom: -13px;
    cursor: pointer;
    position: absolute;
}

#score {
	font-size: 38px;
	text-align: center;
	opacity: 1;
	position: absolute;
	bottom: 10px;
	right: 0;
}

#shifters {
	margin-bottom: 25px;
}

#shifters .powerUp:first-child {
    /* border-radius: 35% 35% 0 0; */
    /* padding-right: 5px; */
    /* padding-left: 0px; */
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #ddd;
}

#shifters .powerUp {
    /* border-radius: 0 0 35% 35%; */
    margin: 0px;
    /* padding-left: 5px; */
    /* font-size: 31px; */
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    border-top: 1px solid #ddd;
}

#titleWrapper {
	background: #fff;
	transform: translateZ(1px);/* necessary to stay on top of falling row */
	width: 100%;
	position: relative;
	height: 98px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

#titleWrapper a {
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
}

#tutorialContainer {
	visibility: visible;
}

#tutorialContainer p {
	font-size: 14px;
	position: absolute;
	font-weight: 100;
	line-height: 21px;
	max-width: 130px;
	opacity: 0;
}

#tutorialContainer #playButton {
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ddd;
    background-color: #fff;
    padding: 10px;
    font-size: 24px;
    bottom: 54%;
    cursor: pointer;
    visibility: hidden;
}

#gridAdvice {
    right: -155px;
    bottom: 330px;
}

#blockAdvice {
    right: -150px;
    bottom: 2%;
}

@media screen and (max-width: 800px) {

	#nav {
		float: none;
		text-align: center;
		margin: 0;
		padding: 10px;
		margin-bottom: 5%		
	}

	#nav.day {
		background: #ddd;
		}
	
	#nav.night {
		background: none;
	}
	
	#nav a {
		font-size: 26px;
	}

	#titleWrapper {
		margin-bottom: 5%;
	}
}